
.ReactTable {
  border: 0;
}
.ReactTable .rt-th, .ReactTable .rt-td {
  padding: 10px 7px;
}
.ReactTable .rt-thead.-header {
  padding: 10px 7px;
}
.ReactTable .rt-thead.-filters {
  padding: 10px 7px;
}
.table {
  height: 600px;
  flex-grow: 1;
  flex-shrink: 3;
}
